
*{
    padding: 0;
    margin: 0;
}
header{
    border: darkred solid .5vw;
    background-color:#fde98a;
    font-family: 'Bebas Neue','cursive';
    font-size:4.1vh;
    position:relative;
    width: 100vw;
    display: flex;
    }
header div{
    margin-left:-5%;

}

.contenr{
    display: inline-flex;
    gap: 3em;
    position: relative;
    left:34vw;
    bottom: 3vh;
}

#logo{
    width:15vw; 
    display:inline-block;
    position: relative;
    margin:2vh;
    left:6vw;

}


a{ 
    list-style: none;
    text-decoration: none;
    color: black;
}   
a:hover{
    color:#8b0000;
    
}

/*Header end*/



/*Start of first section*/

.first-one {
    
    background-color:#fde98a;
    
    position: relative;

    left:10vw;

    border: .5vw solid;
    
    
    width: 80vw;
    height:100vh;

    display:flex;
    

    

    

    
}

/*
#F{ 
    position: relative;
    border: 5px solid;
    width: 80%;
    margin: 3%;
    left: 10%;
    position: relative;
    

}
.F{
    background-color:#fde98a;
    position: relative;
}

.F img{
    height: 75%;
    width: 35%;
    margin:1%;
    padding: 1%;
    background-color:#8b0000;
    position: relative;
    top:7.5%;
    left: 28%;
    right: 28%;
    display: block;
    border: 5px solid;
}
h1{ 
    display: block;
    position: absolute;
    font-family: 'Bebas Neue','cursive';
    font-size:550%;
    padding: 1%;
    border:5px black solid;

}
p{
    display: block;
    position: absolute;
    font-family: 'Bebas Neue','cursive';
    font-size:305%;
}
.F h1{
    top: 5%;
    LEFT: 6.5%;
    background-color:darkred;
    color:#fde98a;
    
    }
.F p{
    margin: 1.5%;
    top:43%;
    LEFT: 5.5%;
    

}
*/